img{
    width: 225px;
    height: 250px;
    float:left;
    margin:0px 20px 20px 20px;
}

p{
    margin-right:300px;
    text-align: center;
}

button{
    margin-top:150px;
    margin-left:100px;
}

body{
    background-image: url(Grey\ Background.jpg);
}

h1{
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 50px;
}


@media only screen and (max-width: 992px){
button{
    margin-left:50px;
    margin-top:50px;
}
p{
    margin-right:200px;

}

@media only screen and (max-width: 785px){
    button{
        margin-left:30px;
        margin-top:30px;
    }
    p{
        margin-right:150px;
    
    }

    @media only screen and (max-width: 600px){
        button{
            margin-left:30px;
            margin-top:30px;
        }
        p{
            margin-right:50px;
    
        }
    }

   